.container {
    width: 600px; 
    margin: 100px auto;
    min-Height: 400px;
    line-Height: 1.5em;
    border: 1px solid grey;
    padding: 20px
}
.Amount {
    width: 500px;
}
label {
    color: 'blue';
    display: block;
}
#form > * {
    margin: 30px 0;
}
.Result {
    margin-top: 60px;
}
.res {
    color: brown;
}
#result > * {
    margin: 10px 0;
}
